/*--------------------------------------------------

Defaults 

--------------------------------------------------*/
* { 
	box-sizing: border-box;
	outline:none
} 
 
div,
article,
section,
header,
footer,
nav,
li	{
	position:relative;  
}

body {
	background:#f2f2f2;
	font-family: 'Numans', sans-serif;
	font-size:100%;
	color:#444;
}

.inner {
	margin:0 auto;
	width:97%;
	max-width:1050px;
	@include breakpoint(sm) {
	     width:95%;
	 }
	 @include breakpoint(med) {
	     width:90%;
	 }
	 h2 {
	 	font-size:2em;
	 }
}

.content {
	padding:15px 15px 30px;
	font-family: 'Monda', sans-serif;
	@include breakpoint(lrg) {
	    margin-top:50px;
	    padding:0 10px;
	}
	 
}

a {
	text-decoration:none;
	color:#BD600F;

	&:hover {
		color:#A44700;
	}
}

p {
	margin: 1em 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clear {
	clear:both;
}