/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Habibi);
@import url(http://fonts.googleapis.com/css?family=Numans);
@import url(http://fonts.googleapis.com/css?family=Monda);

@import "bourbon";

@import "_reset";
@import "_breakpoint";
@import "_defaults";
@import "_header";
@import "_homepage";
@import "_blogpage";
@import "_photopage";

/*--------------------------------------------------

Contact Page

--------------------------------------------------*/

div.wpcf7 {
	margin:35px 0 0 0;

	input[type="text"], input[type="email"], textarea {
		border:2px solid #e1e1e1;
		margin:6px 0 0 0px;
		padding:15px 7px;
		width:100%;
		color:#444; 
		font-family: sans-serif;


		&:focus {
			border:2px solid #BD600F;
		}
	}
	
	textarea {
		resize:none;
	}

	p {
		margin:1em 0;
		width:100%;
		@include breakpoint(sm) {
		    width:80%;
		    margin:1em auto;
		}
		 
	}
}

input[type="submit"] {
	@include button(#BD600F);
	width:250px;
	height:40px;
	margin:0 auto;
	display:block;
	@include breakpoint(sm) {
	    margin:0;
	}
	 
}


/*--------------------------------------------------

Footer

--------------------------------------------------*/

footer {
	clear:both;
	margin-top:35px;
	text-align:right;
}